
        <div class="row"  style="background-color: #251F1D; padding-bottom: 40px; margin-top: 50px; margin-bottom: 200px;">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <center><div><p>e-mail: glassroom.office@gmail.com</div></center>
      <center><div><p>Тел. +38 (098) 458 20 10</div></center>
      <center><div><p>Тел. +38 (067) 345 68 03</div></center>
            </div>
        </div>
     
<style type="text/css">
        .tlemail::-webkit-input-placeholder {
   color: rgba(255,255,255,.45);
}
       .tlemail:-moz-placeholder { /* Firefox 18- */
   color: rgba(255,255,255,.45);  
}

      .tlemail::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255,255,255,.45);  
}

      .tlemail:-ms-input-placeholder {  
   color: rgba(255,255,255,.45);  
}
    </style>
